/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*~~~~FONTS~~~~*/
@font-face {
    font-family: bebas;
    src: url(../fonts/BEBAS___.TTF);
}
/*~~~~*+HTML~~~~*/
* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 10px;
}

body {
    font-size: 0px;
    background-image: url("../img/background.jpg")
}
/*~~~~CONTAINER~~~~*/
.container {
/*     width: 940px; */
    max-width: 940px;
    margin: 0 auto;
    padding: 0px 10px;
    overflow: hidden;
    background-image: url("../img/background.jpg");
    position: relative;
}
/*~~~~HEADER~~~~*/
header {
    overflow: hidden;
}

header h1 {
    font-family: bebas;
    font-size: 3.6rem;
    color: #e8603c;
    margin: 0px;
    float: left;
    padding: 20px 0px;
}

header h1 .alternative-colour {
    color: #f3af9d;
}

header li  {
    font-family: bebas;
    display: inline;
    font-size: 1.6rem;
    padding: 35px 0px 0px 25px;
}

header a {
    text-decoration: none;
    color: #b9b9b9;
}

header a.active {
    color: #e8663c;
}

header ul {
    float: right;
    padding-top: 40px
}

/*~~~~MAIN~~~~index~~~~*/
main {
    background: #f3af9d;
    height: 60px;
}

section.slider {
    font-family: bebas;
    font-size: 10px;
    color: #ffffff; 
    font-weight: none;  
    max-width: 100%;
    margin-bottom: 17px;
    background:  url("../img/slider.jpg") center no-repeat;
    background-size: cover;
    height: 401px;
    position: relative;
}

img.sliderleft {
   position: absolute;
   top: 40%;
   left: 0%;
}

img.sliderright {
    position: absolute;
    top: 40%;
    right: 0%;
} 

div.sliderbox {
    background: #ec8462;
    position: absolute;
    padding: 15px 5px 15px 5px;
    left: 3.82979%;
    bottom: 3.40426%;
    right: 52.34043%;
    opacity: 0.8;
}

div.sliderbox h2 {
    padding-bottom: 10px;
    opacity: 1;
}

div.sliderbox p {
    font-family: helvetica;
    opacity: 1;
}

img.thumbnail {
    max-width: 14.89362%;
    padding-right: 2.12766%;
}

img.thumbnail:last-of-type {
    padding-right: 0px;
}

section.thumbnails {
    overflow: hidden;
}


section.infoboxes {
    font-size: 10px;
    overflow: hidden;
}

section.infoboxes .infobox {
    width: 30%;
    margin-right: 5%; 
    margin-top: 40px;
    margin-bottom: 45px;
    float: left;
}

.infobox .container {
    height: 80px;
}

section.infoboxes .infobox:last-of-type {
    margin-right: 0%;
}

section.infoboxes h2 {
    font-family: bebas;
    font-weight: none;
    color: #e8663c;
    float: left;
    max-width: 56.66667%;
    margin-right: 19.99999%;
    margin-bottom: 40px;
}

section.infoboxes p {
    font-family: helvetica;
}

section.infoboxes a div {
    background: #e8663c;
    display: inline-block; 
    font-family: bebas;   
    color: #ffffff;
    padding: 5px 10px;
    margin-top: 20px;
}

section.infoboxes img {

    float: left;
    max-width: 16.66667%;
    margin-right: 6.66667%;
}

section.recentworks {
    font-size: 10px;
    overflow: hidden;
    margin-bottom: 48px;
}

section.recentworks h2 {
    font-family: bebas;
    color: #e8663c;
    display: inline-block;

    background: url("../img/background.jpg");
    margin-bottom: 25px;
    padding-right: 20px;
}

.shade {
    background-image: url("../img/shade.gif");
    width: 100%;
    height: 19px;
    margin-bottom: 25px;
}

section.recentworks .recentwork {
    float: left;
    max-width: 23.40426%;
    margin-right: 2.12766%;
}

section.recentworks .recentwork img {
    max-width: 100%;
}

section.recentworks .recentwork:last-of-type {
    margin-right: 0%;
}

.recentinfotext {
    border: solid 1px #dbdbdb;
    border-top: none;
}

.recentinfotext h3 {
    font-family: bebas;
    color: #b9b9b9;
}

.recentinfotext p {
    font-family: bebas;
    color: #e8663c;

}

.nummer {
    background: #f3b29d;
    width: 26px;
    height: 26px;
}

.nummer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
/*~~~~MAIN~~~~content~~~~*/
.content {
    width: 74.46809%;
    float: left;
    margin-right: 2.1%;
    font-family: helvetica;
    overflow: hidden;
    font-size: 13px;
    color: #414141;
}

/*~~~~MAIN~~~~sider~~~~*/
.sider {
    width: 23.40426%;
    float: left;
    font-size: 13px;
    color: #414141;
}

.sider h3 {
    color: #e8663c;
    font-family: bebas;
    margin-bottom: 20px;
    padding-right: 15px;
    background: url("../img/background.jpg");
    display: inline-block;
}

.sider p {
    margin-bottom: 35px;
}

.sider ul {
    margin-bottom: 40px;
}

.sider li {
    list-style: none;
}

.sidebox {
    box-sizing: border-box;
    margin: 1px;
    float: left;
    border: 1px solid #e8663c;
    background: #f3af9d;
    padding: 11.36364%;
}

/*~~~~MAIN~~~~about_us~~~~*/
.main-title h2 {
    font-size: 17.499999046px;
    background: #e8663c;
    font-family: bebas;
    color: #ffffff;
    padding: 18px;
    margin-bottom: 27px;
}

.content-about p {
    margin-bottom: 25px;
}

.content-about img {
    float: left;
    margin-right: 20px;
    padding: 2px;
    border: solid 1px #cccccc;
}

.content-about span {
    font-weight: bold;
    float: left;
    font-size: 24px;
    color: #e8663c;
}

.colom2 {
    width: 45.71429%;
    margin-right: 4.28571%;
    float: left;
}

.colom3 {
    width: 31.42857%;
    margin-right: 1.42857%;
    float: left;
}

.alert-text {
    box-sizing: border-box;
    padding: 25px 320px 25px 290px;
    overflow: hidden;
    margin-bottom: 18px;
}

.alert-text p {
    font-style: italic;
    margin: 0;
}

.box-green {
    background: #effeb9;
    border: 1px solid #98c601;
    color: #98c601;
}

.box-red {
    background: #fbcbc1;
    border: 1px solid #eb5439;
    color: #eb5439;
}

.box-yellow {
    background: #ffe9ad;
    border: 1px solid #fab418;
    color: #fab418;
}

.box-blue {
    background: #d1e4f3;
    border: 1px solid #4d8fcb;
    color: #2d8fcb;
}

.content-about .blockquote {
    border-left: 10px solid #e8663c;
    float: none;
    padding-left: 20px;
    margin-left: 50px;
    font-style: italic;
}

/*~~~~MAIN~~~~blog~~~~*/
.content-blog h3 {
    color: #e8663c;
    font-family: bebas;
}

.content-blog h4 {
    color: #e8663c;
    font-family: bebas;
    margin-bottom: 10px;
}

.blogbox-sider {
    width: 13.88889%;
    float: left;
    margin-right: 5.55556%;
}

.blogbox-sider p {
    font-size: 12px;
    margin-bottom: 15px;
    font-family: helvetica;
    color: #bababa;
}

.blogbox-content {
    width: 72.22222%;
    float: left;
    margin-right: 4.16667%;
}

.blogbox {
    float: left;
}

.iconblog {
    position: absolute;
    left: -20px;
}

.blogbox img {
    margin-bottom: 25px;
    padding-top: 20px;
}

.blogbox a {
    padding-top: 10px;
    padding-bottom: 25px;
    text-decoration: none;
    color: #a0a0a0;
}

.content-blog .shade {
    margin-bottom: 45px;
    margin-top: 50px;
    width: 95.65217%;
    margin-right: 8.33333%;
    float: left;
}

.content-blog .blockquote {
    background-image: url("../img/backgroundquote.jpg")
}

.content-blog .blockquote img {
    float: left;
    width: 3.57143%;
    max-width: 100%;
    padding-left: 5%;
}

.content-blog .blockquote p {
    padding-top: 25px;
    padding-bottom: 20px;
    float: left;
    width: 89.28571%;
    padding-left: 2.14286%;
    font-style: italic;
}

/*.blogbox .blockquote:before {
    font-family: georgia;
    content: open-quote;
    font-size: 40px;
    color: #e8663c;
    padding-right: 20px;

}*/

/*~~~~FOOTER~~~~*/

footer {
    background: #f3af9d;
    height: 263px;
}

footer .container {
    height: 263px;
}

.footer-content {
    background: #e8663c;
    margin: 0 auto;
    width: 100%;
    height: 263px;
    font-size: 11px;
    font-family: helvetica;
}

.footer-content h2 {
    padding-bottom: 10px;
    font-size: 20px;
    font-family: bebas;
    color: #ffffff;
}

.footer-content p {
    color: #ffffff;
    padding: 5px 0px;
}

.footer-content span {
    color: #f3b29d;
}

.footer-content section {
    float: left;
    width: 28.72340%;
    padding: 35px 0px 0px 35px;
}

.footer-content .sm {
    width: 23.40426%;
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (max-width: 540px) {

    header h1 {
        float: none;
        padding: 10px 0px;
    }
    header li {
        display: block;
        padding: 10px 0px;
    }

    main img.thumbnail {
        max-width: 30%;
        padding-right: 5%;
        padding-bottom: 5px;
    }

    main img.thumbnail:nth-last-of-type(4) {
        padding-right: 0px;
    }

    main section .slider {
        height: 100%;
    }

    section.infoboxes .infobox {
        padding: 10px 0px;
        width: 67%;
        max-width: 100%;
        float: none;
        display: block;
        margin: 0 auto;
    }

    section.infoboxes .infobox:last-of-type {
        margin-right: auto;
    }

    section.recentworks .recentwork {
        width: 220px;
        max-width: 100%;
        float: none;
        margin: 0 auto;
    }

    section.recentworks .recentwork:last-of-type {
        margin-right: auto;
    }

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
